.container {
  width: 100dvw;
  height: 100dvh;

  display: flex;
  justify-content: space-evenly;
}

.contentContainer {
  margin: 0 50px 300px 50px;
}

.logo {
  position: relative;
  display: flex;

  width: 500px;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 30px;

  height: 100%;
}

.mainCopy {
  font-size: 65px;
  font-weight: 700;
}

.subCopy {
  font-size: 30px;
  font-weight: 700;
}

.joinButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;

  background-color: rgb(70, 175, 224);
  color: white;

  border-radius: 9999px;

  width: 266px;
  height: 40px;
}
.joinButton:hover {
  background-color: rgb(12, 153, 219);
}

.loginCopy {
  font-size: 18px;
  font-weight: 700;
}

.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;

  background-color: white;
  color: rgb(70, 175, 224);

  border: 1px solid rgb(207, 217, 222);
  border-radius: 9999px;

  width: 266px;
  height: 40px;
}

.loginButton:hover {
  background-color: rgb(236, 249, 255);
}
