.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100dvw;
  height: 100dvh;
  position: absolute;

  background-color: rgba(0, 0, 0, 0.4);
}

.modalContainer {
  height: 650px;

  background-color: white;
  border-radius: 16px;
}

.contentContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding: 0 30px;
}

.closeButton {
  display: flex;
  align-items: center;
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.mainCopyContainer {
  font-size: 20px;
  font-weight: 700;

  margin-bottom: 15px;
  padding: 0 30px;
}

.loginContainer {
  display: flex;
  flex-direction: column;

  padding: 0 30px;

  gap: 15px;
}

.entryArea {
  position: relative;

  width: 438px;
  height: 56px;
  line-height: 56px;
}

.input {
  position: absolute;

  width: 100%;
  height: 100%;

  background-color: transparent;

  border: solid 1px rgb(207, 217, 222);

  outline: none;
  font-size: 17px;

  padding: 0 30px;
  border-radius: 10px;

  transition: 0.1s ease;

  z-index: 1111;
}

.labelLine {
  position: absolute;

  font-size: 17px;

  color: rgb(83, 100, 113);

  padding: 0 15px;

  background-color: transparent;
  transition: 0.2s ease;
}

.input:focus,
.input:valid {
  border: 1px solid rgb(70, 175, 224);
}
.input:focus + .labelLine,
.input:valid + .labelLine {
  color: rgb(70, 175, 224);
  background-color: white;

  line-height: 30px;
  padding: 0 5px;

  transform: translate(15px, -12px) scale(0.7);
  z-index: 9999;
}

.buttonContainer {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  width: 100%;
  height: 55%;
}

.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;

  background-color: black;
  color: white;

  border: 1px solid rgb(207, 217, 222);
  border-radius: 9999px;

  width: 266px;
  height: 40px;
}
